:root {
  --black: #000000;
  --white: #FFFFFF;

  --black-03: rgba(0, 0, 0, 0.3);
  --white-09: rgba(255, 255, 255, 0.9);

  --red-1: #231F20;

  --brown-1: #503e33;
  --brown-2: #604e43;
  --brown-3: #766357;
  --brown-4: #847870;

  --blue-1: #5496BD;
  --blue-2: #669EC0;
  --blue-3: #81b3d2;
  --blue-4: #87B5D1;

  --gray-1: #333333;
  --gray-2: #666666;
  --gray-3: #6A6A6A;
  --gray-4: #888888;
  --gray-5: #A9A9A9;
  --gray-6: #B3B3B3; /* Возможно не понадобится */
  --gray-7: #BDBBBC;
  --gray-8: #EBEBEB;
  --gray-9: #F2F2F2;
  --gray-10: #E5E5E5;
  --gray-11: #EEEEEE;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0;
	font-size: 14px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-style: normal;
  text-transform: uppercase;
  color: var(--black);
  background-color: var(--gray-9);
}

img {
  max-width: 100%;
}

a {
	text-decoration: none;
  color: var(--black);
}

.h2 {
  font-size: 30px;
  font-weight: bold;
}

.h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.h4 {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}

.h5 {
  line-height: 26px;
  font-weight: bold;
}

a:hover {
  color: var(--blue-3);
}

a:active {
  color: var(--black-03);
}

.container {
  width: 1200px;
  background-color: var(--white);
}


/* HEADER */

.header {}

.header__navigation {}


.menu__item {
  list-style: none;
}

.menu__link {
  font-weight: bold;
  line-height: 26px;
}

.menu__link_active {
  color: var(--brown-3);
}


/* MAIN */

.main {}

.jumbotron {}

.description {}

.description__title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.description__subtitle {
  line-height: 26px;
  color: var(--gray-1);
}

.advantages {}

.advantage {}

.advantage__title {
  line-height: 21px;
}

.advantage__description {
  line-height: 21px;
  color: var(--gray-1);
}

.advantage_blue {
  color: var(--white);
  background-color: var(--blue-3);
}

.advantage_blue .advantage__description {
  color: var(--white);
}

.advantage_gray {
  background-color: var(--gray-11);
}

.advantage-img {}

.booking {
  line-height: 24px;
}

.booking__description {
  color: var(--gray-1);
}

.button {
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  padding: 3px 16px;
  color: var(--white);
  border: 0;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  display: inline-block;
}

.button:hover {
  color: var(--white);
}

.button_brown {
  background-color: var(--brown-3);
}

.button_big {
  font-size: 21px;
  line-height: 26px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 568px;
}

.button_brown:hover {
  background-color: var(--brown-2);
}

.button_brown:active {
  background-color: var(--brown-1);
  color: var(--brown-4);
}

.button_blue {
  background-color: var(--blue-3);
}

.button_medium {
  font-size: 21px;
  line-height: 26px;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 458px;
}

.button_blue:hover {
  background-color: var(--blue-2);
}

.button_blue:active {
  background-color: var(--blue-1);
  color: var(--blue-4);
}

.button-number {
  color: var(--gray-5);
  padding-left: 14px;
  padding-right: 14px;
  text-align: center;
  height: 38px;
  border: 0;
}

.button-number:hover {
    color: var(--black);
}

.button-number:active {
    color: var(--blue-3);
}

.button-white {
  font-size: 14px;
  line-height: 21px;
  padding: 3px 35px;
  text-transform: uppercase;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 2px;
  text-align: center;
  outline: none;
  background-color: transparent;
}

.button-white:hover {
  background-color: var(--white);
  color: var(--black);
}

.map {}

.booking-widget {}

.form-group {}

.field input {
  background-color: var(--gray-9);
  font-weight: bold;
  line-height: 26px;
  padding: 4px 10px;
  height: 38px;
  border: 2px solid var(--gray-9);
  text-transform: uppercase;
}
.field input:hover {
  background-color: var(--gray-8);
  border: 2px solid var(--gray-8);
}

.field input:focus {
  background-color: var(--white);
  border: 2px solid var(--gray-10);
  outline: none;
}


/* FOOTER */

.footer {
  background-color: var(--white-09);
}

.footer__contacts {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.footer__phone {}

.footer__social {}

.footer__copyright {
  /*background-color: var(red-1);*/
}

.footer__copyright:hover {
  /*background-color: var(--blue-3);*/
}
.footer__copyright:active {
  /*background-color: var(--gray-7);*/
}


/* HOTELS */

.main-filter {
  color: var(--white);
  background-color: var(--gray-7); /*пока дали*/
}

.checkbox input {}

.checkbox input:hover {}

.checkbox input:disabled {}

.rent-range {}

.rent-range:hover {}

.sorting {}

.sorting__found {}

.sorting__title {
  font-size: 12px;
  line-height: 18px;
}

.sorting__filter {
  font-size: 12px;
  line-height: 18px;
  color: var(--black-03);
  border-bottom: 1px dashed var(--blue-3);
}

.sorting__filter:hover {
  color: var(--blue-3);
}

.sorting__filter:active {
  color: var(--black);
  border-color: transparent;
}

.sorting__filter_active {
  color: var(--blue-3);
  border-color: transparent;
}

.apartments {}

.apartment {}

.apartment__image {}

.apartment__description {}

.apartment__name {}

.apartment__property {
  line-height: 21px;
  color: var(--gray-1);
}

.apartment__buttons {}

.buttons__item {}

.apartment__rating {}

.apartment__stars {}

.stars {}

.apartment__score {
  line-height: 21px;
  padding: 3px 12px 3px 15px;
  color : var(--gray-2);
  background-color: var(--gray-9);
}
