:root {
  --black: #000000;
  --white: #FFFFFF;
  --very-light-gray: #EEEEEE;
  --light-gray: #F2F2F2;
  --dark-gray:  #888888;
  --slightly-desaturated-blue: #81b3d2;
  --mostly-desaturated-dark-orange: #766357;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/PTSans-Regular.woff2') format('woff2'),
        url('../fonts/PTSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/PTSans-Bold.woff2') format('woff2'),
        url('../fonts/PTSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  margin: 0
	font-size: 14px;
	font-family: 'PT Sans', Arial, sans-serif;
	font-style: normal;
  background-color: var(--light-gray);
}

img {
  max-width: 100%;
}

a {
	text-decoration: none;
}

.container {
  width: 1200px;
  background-color: var(--white);
}



/*
img {max-width: 100%;
	height: auto;}
*/
/*
.main-header{}
.site-navigation {}
*/
.site-navigation {
	font-size:14px;
	line-height:26px;
	list-style: none;
}
.site-navigation ul {
	list-style: none;
}
.description {
	font-size: 21px;
	line-height: 26px;
}
.description-title {
	background: var(--basic-white);
	font-size: 14px;
}
/*facilities*/

.facilities-title{
	background: var(--slightly-desaturated-blue);
	color: var(--basic-white);
	font-size: 14px;
}

.features-list {
  background: var(--basic-white);
}

.facilities-item{
	font-size: 14px;
	line-height: 21px;
	list-style: none;
}

/*features*/

.features-title{
	background: var(--slightly-desaturated-blue);
	color: var(--basic-white);
	font-size: 14px;
}

.features-list {
  background: var(--very-light-gray);
}

.feature-item {
  font-size: 14px;
  line-height: 21px;
  list-style: none;
}

.feature-item h3 {
	font-size: 14px;
	line-height: 21px;
}

/*appointment*/

.appointment p {
	font-size: 21px;
	line-height: 26px;
}

.appointment {
	font-size: 30px;
	line-height: 24px;
}

/*footer*/

.main-footer {
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.9);
}

 .footer-contacts a {
  color: var(--basic-black);
  text-decoration: underline;
  font-size: 21px;
  line-height: 26px;
}

.footer-phone {
	font-size: 21px;
	line-height: 26px;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
	background: var(--slightly-desaturated-blue);
}
